TREASURY_CONTRACT_ADDRESS=0xYOUR_CONTRACT
OG_PRIVATE_KEY=0xYOUR_TESTNET_METAMASK_PRIVATE_KEY
ARC_RPC_URL=https://rpc.testnet.arc.network
CIRCLE_API_KEY=your_circle_api_key
CIRCLE_ENTITY_SECRET=your_entity_secret
AI_EXECUTOR_WALLET_ID=your_circle_ai_executor_wallet_id
